{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<div id="myModal_new" class="modal">
    <div class="modal-content" id="modal-content-new">
        <span class="close" id="close_new">&times;</span>
        <h2>Nouvelle destination</h2>
        {% include '/location/new.html.twig' with {'form':form_location} %}
    </div>
</div>
<button data-toggle="modal_new" data-target="#myModal_new" class="btn btn-primary col-2" style="float: right;margin-right: 4vw;margin-top: 4vh">nouvelle destination</button>
<div class="col-12 d-flex justify-content-center map-cont">
    <div  class="col-11 d-flex justify-content-center" id="map" style="height:80vh;margin-top:1vh">
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {{ encore_entry_script_tags('app') }}
<script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
// Créez une instance de carte et spécifiez les coordonnées du centre et le niveau de zoom
const map = L.map('map').setView([43.599134, 1.445085], 11);

// Ajoutez une couche de tuiles OpenStreetMap à la carte
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '© OpenStreetMap contributors'
}).addTo(map);

$(document).ready(function() {
  var lat=[];
  var lon=[];
  var markers=[];
  window.onload=pin_locs();
  // Fermer la modal lorsque l'utilisateur clique sur le bouton de fermeture
  $('#close').click(function() {
    $('#myModal').hide();
    $("#myModal").removeClass('d-flex');
  });

  // Fermer la modal lorsque l'utilisateur clique en dehors de la modal
  $(window).click(function(event) {
    if (event.target == $('#myModal')[0]) {
      $('#myModal').hide();
      $("#myModal").removeClass('d-flex');
    }
  });

  // Ouvrir la modal lorsque l'utilisateur clique sur le bouton d'ouverture
  $(document).on('click','button[data-toggle="modal"]',function() {
    $.ajax({
      url:"{{(path('view_loc'))}}",
      type:'POST',
      data:{
        'locId': this.id,
      },
      async:true,
      success:function(rsp){
        $('#modal-content-view').html(rsp);
      }
    })
    $('#myModal').addClass('d-flex');
    $('#myModal').show();
  });


  $('#close_new').click(function() {
    $('#myModal_new').hide();
    $("#myModal_new").removeClass('d-flex');
  });

  // Fermer la modal lorsque l'utilisateur clique en dehors de la modal
  $(window).click(function(event) {
    if (event.target == $('#myModal_new')[0]) {
      $('#myModal_new').hide();
      $("#myModal_new").removeClass('d-flex');
    }
  });

  // Ouvrir la modal lorsque l'utilisateur clique sur le bouton d'ouverture
  $('button[data-toggle="modal_new"]').click(function() {
    $('#myModal_new').show();
    $('#myModal_new').addClass('d-flex');
  });

  $(".france").on('click',function(){
    if($(".lat").hasClass('d-none')){
      $(".lat").removeClass('d-none');
    }else{
      $(".lat").addClass('d-none');
    }
  })

  $(document).on('click','.accept',function(){
    $.ajax({
      url:"{{ (path('accept_loc'))}}",
      type:"POST",
      data:{
        locId:this.id,
      },
      async:true,
      success: function(rsp){
        location.reload();
      }
    })
  })

  function pin_locs(){
			$.ajax({
					url:"{{ (path('all_locations')) }}",
					type: "POST",
					data:{
					},
					async: true,
					success: function (rsp)
					{
						for(var loc in rsp.data){
              if(rsp.data[loc].made){
                var path="{{ asset('img/pin.png')}}";
              }else{
                var path="{{ asset('img/pin-non-valider.png')}}"
              }
							var pinIcon = L.icon({
								iconUrl: path,
								iconSize: [30, 35],
								popupAnchor: [0, -18]
							});
							id=rsp.data[loc].locId;
							lat[id]=rsp.data[loc].lat;
							lon[id]=rsp.data[loc].lon;
              console.log(lon);
							markers[id] = new L.Marker(new L.LatLng(lat[id],lon[id]),{icon: pinIcon}).addTo(map);
							//itineraire[id] = rsp.data[transport].route;
							markers[id].id = id;
							markers[id].bindPopup('<button id="'+ id +'" data-toggle="modal" data-target="#myModal" class="btn btn-primary col-12" >voir Voyage</button>');
						}
					}
				})
			}


});

</script>
{% endblock %}
